@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir.woff);
}

body {
    background-color:#372c30;
    font-family:Avenir;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color:white;
}




/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

footer{
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}

.navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0.0);
        padding-right:25px;
}

.section-global{
    background-color: grey;
    align-items: center;
    background-image: linear-gradient(to left,rgba(56,44,48,.7),rgba(56,44,48,.7)),url(../images/bg-home-man-on-phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    overflow: auto;
    padding-bottom: 2.5rem;
}

table, h2,.control-label{
    color:#9D9D9F;
}

.max-width {
    margin: auto;
    max-width: 1060px;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.content{
    padding-top:50px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(0,0,0,0.8);
    cursor:pointer;
}

/*******************Form***********************/
.form-control{
    width:initial;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input.form-control,
select.form-control,
textarea.form-control {
    width: 280px;
    transition:all 1s ease;
}

input.form-control.zipcode{
    width: 80px;
}


input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-color:red;
    width: 480px;
}